---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import CodeShowCase from "../components/CodeShowCase.astro";
import CodeEditor from "../components/CodeEditor.astro";
import LandingEn from "../components/Landing-en.astro";
---

<Layout title="JSRunner">
  <Navbar />
  <LandingEn />
  <div class="container mx-auto">
    <CodeShowCase />

    <div class="p-4 flex flex-col md:flex-row gap-6 mb-56">
      <h1 class="text-2xl text-center max-w-[30ch] leading-10">
        Discover and try out new things with JavaScript and <span
          class="bg-blue-800 text-white font-semibold p-2">TypeScript</span
        >, bring your ideas to life with visual representations, and receive
        immediate feedback as you type.
      </h1>
      <div class="min-w-[600px]">
        <CodeEditor
          code="fetch(https://jsonplaceholder.typicode.com/todos/1)\n\t.then(response => response.json())\n\t.then(data => console.log(data))\n\n\nlet hello:string = 'Kitty'"
          result='\n\n\n{\n"userId": 1,\n"id": 1,\n"title": "delectus aut autem",\n"completed": false\n}'
          class
        />
      </div>
    </div>
    <div class="p-4 flex flex-col md:flex-row gap-6">
      <div class="min-w-[600px]">
        <CodeEditor
          code='class Persona{\n\tconstructor(a,s) {\n\tthis.nombre=a,\n\tthis.edad=s\n\t}\n\tsaludar(){\n\tconsole.log(`Hola, soy ${this.nombre}`)\n\t}\n}\nconst juan= new Persona("Juan",30);\njuan.saludar();'
          result="\n\n\n\n\n\n\n\n\n\n\n'Hola, soy Juan'"
        />
      </div>
      <h1 class="text-2xl text-center max-w-[30ch] leading-10">
        Make the most of everything <span
          class="bg-yellow-300 text-black font-semibold p-2">JavaScript</span
        > has to offer, including the new features that come out in ESNEXT, and try
        them out.
      </h1>
    </div>
  </div>
</Layout>
