---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Landing from "../components/Landing.astro";
import CodeShowCase from "../components/CodeShowCase.astro";
import CodeEditor from "../components/CodeEditor.astro";
---

<Layout title="JSRunner">
  <Navbar />
  <Landing />
  <div class="container mx-auto">
    <CodeShowCase />

    <div class="p-4 flex flex-col md:flex-row gap-6">
      <h1 class="text-2xl text-center max-w-[50ch]">
        Discover and try out new things with JavaScript and TypeScript, bring
        your ideas to life with visual representations, and receive immediate
        feedback as you type
      </h1>
      <div class="min-w-[600px]">
        <CodeEditor code="1" result="1" class />
      </div>
    </div>
  </div>
</Layout>
