---
import CodeEditor from "../components/CodeEditor.astro";
import Window from "../components/icons/Window.astro";
import Mac from "./icons/Mac.astro";
import Ubuntu from "./icons/Ubuntu.astro";
const showcaseCode = `1+1
    
"hello"

const hola = {
  a: 1,
}

hola`

const showcaseResult = `2

"hello"





{
  a: 1,
}
`
---

<div class="translate-y-[-300px]">
  <CodeEditor
    code={showcaseCode}
    result={showcaseResult}
  />
  <div class="flex justify-center p-4 gap-4">
    <a
      download
      href="https://github.com/maikCyphlock/jsrunner/releases/download/v1.0.3/jsrunner_1.0.3.exe"
      class="p-2 dark:bg-indigo-700 rounded text-slate-50 hover:text-slate-50/50 font-semibold flex gap-2"
      ><Window />Download
    </a>
    <a
      download
      href="https://github.com/maikCyphlock/jsrunner/releases/download/v1.0.3/jsrunner_1.0.3.dmg"
      class="p-2 dark:bg-indigo-700 rounded text-slate-50 hover:text-slate-50/50 font-semibold flex gap-2"
      ><Mac />Download
    </a>
    <a
      download
      href="https://github.com/maikCyphlock/jsrunner/releases/download/v1.0.3/jsrunner-1.0.3-linux-x86_64.AppImage"
      class="p-2 dark:bg-indigo-700 rounded text-slate-50 hover:text-slate-50/50 font-semibold flex gap-2"
      ><Ubuntu />Download
    </a>
  </div>
</div>
