---
import CodeEditor from "./CodeEditor.astro";
---

<main
  class="dark:text-slate-50 grid justify-center bg-hero-pattern bg-cover bg-no-repeat h-[80vh] w-full bg-blend-darken bg-origin-content"
>
  <div class="font-extrabold mt-20 flex gap-8 flex-col container text-center">
    <h1 class="text-7xl">
      <span class="text-yellow-300">JS</span><span class="text-orange-300"
        >Runner</span
      >
    </h1>
    <h2 class="text-4xl font-normal">
      The open source playground for JavaScript developers
    </h2>
  </div>
</main>
