<nav
  class="px-12 py-4 flex items-center gap-4 dark:bg-zinc-900 border-b border-zinc-700"
>
  <div>
    <img src="/Jsrunner-icon.svg" alt="" srcset="" class="h-12" />
  </div>
  <div class="flex gap-5 justify-between font-semibold">
    <a href="/" class="p-2 text-slate-50 hover:text-slate-50/50">Home</a>
    <a href="/" class="p-2 text-slate-50 hover:text-slate-50/50"
      >Documentation</a
    >
    <a href="/" class="p-2 text-slate-50 hover:text-slate-50/50">Showcase</a>
    <a href="/" class="p-2 text-slate-50 hover:text-slate-50/50">Resources</a>
    <a href="/" class="p-2 text-slate-50 hover:text-slate-50/50">About</a>
  </div>
</nav>
